@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-100 p-2 h-screen overflow-hidden px-4 dark:bg-slate-900;
}
#links .active {
  @apply bg-gray-100 border-l-4 border-blue-400 text-blue-500;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

::-webkit-scrollbar {
  @apply h-1 w-1;
}
.bg {
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
